<img src="../../../assets/header.png" alt="">
<nav>
  <div class="nav nav-tabs" role="tablist">
    <a class="nav-item nav-link col" [ngClass]="{ 'active':selected=='/home/info'}" role="tab" data-toggle="tab" [routerLink]="['/home/info']" >Inicio</a>
    <a class="nav-item nav-link col" [ngClass]="{ 'active':selected=='/home/invoice'}" role="tab" data-toggle="tab" [routerLink]="['/home/invoice']" >Facturas</a>
    <a class="nav-item nav-link col" [ngClass]="{ 'active':selected=='/home/products'}" role="tab" data-toggle="tab" [routerLink]="['/home/products']">Planes</a>
    <a class="nav-item nav-link col" [ngClass]="{ 'active':selected=='/home/points'}" role="tab" data-toggle="tab" [routerLink]="['/home/points']">Ultra Puntos</a>
    <a class="nav-item nav-link col" [ngClass]="{ 'active':selected=='/home/support'}" role="tab" data-toggle="tab" [routerLink]="['/home/support']">Servicio al Cliente</a>
    <a class="nav-item nav-link col" [ngClass]="{ 'active':selected=='/home/profile'}" role="tab" data-toggle="tab" [routerLink]="['/home/profile']">Perfil</a>
    <!-- <a class="nav-item nav-link col" [ngClass]="{ 'active':selected=='/home/other'}" role="tab" data-toggle="tab" [routerLink]="['/home/other']">Ultra Puntos</a> -->
  </div>
</nav>

<!-- <div class="tab-content" id="nav-tabContent">   *ngIf="selected=='/home/info'"
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div> -->
