.register{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
}

.child-register{
  display: grid;
  justify-content: center;
  align-content: center;
}

.formlogin {
  padding: 2rem 3rem;
  border-radius: 2.5rem;
  background-color: #3EB2E0;
  color: #151B94;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 480px) {
  img {
    height: 25vh;
  }
  .register{
    grid-template-columns: none;
  }
}
@media (min-width: 1025px) {
  img {
    height: 35vh;
  }
  .formlogin{
    width: 70ch;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  img {
    height: 30vh;
  }
}

.button-login {
  background-color: #53087D;
	border-radius: 35px;
	border: 1px solid #4868B5;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 8px 20px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #4868B5;
  min-width: 150px;
  margin: 5px;
}
.button-login:hover {
	background-color: #4868B5;
}
.button-login:active {
	position: relative;
	top: 1px;
}

.button-back {
  background-color: #d9fcff;
	border-radius: 35px;
	border: 1px solid #7ea4a7;
	display: inline-block;
	cursor: pointer;
	color: black;
	font-family: Arial;
	font-size: 17px;
	padding: 8px 20px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #7ea4a7;
}
.button-back:hover {
	background-color: #7ea4a7;
}
.button-back:active {
	position: relative;
	top: 1px;
}

.eyeicon{
  background-color: #ffffff;
  border: none;
}
.form-control{
  box-shadow: none;
  border: none;
}
