.title {
  padding: 10px 3px 1px 3px;
  vertical-align: middle;
  text-align: center;
  background-color: #4c534d;
  color: white;
}

.products{
  display: grid;
  //grid-template-columns: repeat(auto-fill, 250px);
  //grid-template-columns: repeat(auto-fill, .1fr);
  //grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin: 20px;
}

@media (max-width: 480px) {
  .products{
    grid-template-columns: repeat(1, minmax(10rem, 1fr));
  }
}
//@media (min-width: 1025px) {
//}
@media (min-width: 481px) and (max-width: 1024px) {
  .products{
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
  }
}